<%- if @coupons.empty? -%>
  You need to start using coupons.
<%- else -%>
  <%= pluralize(@coupons.length, "coupon") %>
  <table>
    <% @coupons.each do |coupon| %>
      <tr>
        <td><%= coupon.where %></td>
        <td><%= number_to_currency coupon.amount %></td>
        <td><%= coupon.description %></td>
      </tr>
    <% end -%>
  </table>
<%- end -%>

<% form_for(@new_coupon) do |f| %>
  <%= f.label(:where) %>
  <%= f.text_field(:where) %><br />
  
  <%= f.label(:amount) %>
  <%= f.text_field(:amount) %><br />
  
  <%= f.label(:description) %>
  <%= f.text_area(:description) %>
  
  <%= submit_tag("Create") %>
<% end -%>